BasedOnStyle: LLVM
IndentWidth: 4
InsertNewlineAtEOF: true

AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBinaryOperators: All
IndentCaseLabels: true
PointerAlignment: Left
